.container {
    display: flex;
    align-items: center;
    font-family: Inter;
    font-weight: 600;
    color: var(--title);
}

.container > div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background: var(--white);
    box-shadow: 0 0 60px rgba(0,0,0,0.05);
    border-radius: 5px;
    font-size: 8.5rem;
    text-align: center;
}

.container > div span {
    flex: 1;
}

.container > div span:first-child {
    border-right: 1px solid #f0f1f3;
}

.container > div span:left-child {
    border-left: 1px solid #f0f1f3;
}

.container > span {
    font-size: 6.5rem;
    margin: 0 0.5rem;
}

.start {
    width: 100%;
    height: 5rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 5px;

    background: var(--title);

    color: var(--white);
    font-size: 1.25rem;
    font-weight: 600;
}

.active {
    background: var(--gray-line);
    color: var(--title);
}

.start:disabled {
    background: var(--green);
    color: var(--text);
    cursor: not-allowed;
}

.buttonContainer {
    position: relative;
}

.buttonContainer:hover .buttonAbove {
    bottom: 0;
}

.buttonAbove {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5px;
    left: 0;
    transition: bottom 0.5s;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.BAStart {
    background: var(--blue);
}

.BAFinished {
    background: var(--white);
}

.BAStop {
    background: var(--white);
}

.progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    border-radius: 5px;
    background-color: var(--green);
    transition: width 1s;
    transition-timing-function: linear;
}