.container {
    width: 80px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
}

.pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.option {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.decoration {
    height: 50px;
    border-right: 4px solid var(--blue);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    left: 0;
}