.leaderboardContainer {
    display: flex;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
    flex: 1;
}

.grid {
    width: 80%;
    margin-top: 40px;
}

.grid h2 {
    color: var(--title);
}

.tableHead {
    display: flex;
    margin-top: 20px;
}

.tableHead p {
    font-size: 14px;
    color: var(--text);
}

.position {
    width: 80px;
}

.user {
    flex: 1;
}

.challanges {
    width: 140px;
}

.xp {
    width: 140px;
}

.tableBody {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

@media (max-width: 810px) {
    .challanges {
        display: none;
    }
}

@media (max-width: 630px) {
    .xp {
        display: none;
    }
}